* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    overflow-y: scroll;
    font-family: arial, Helvetica, sans-serif;
    background-color: rgb(163, 120, 120);
}

.header {
    width: 100%;
    color: azure;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    overflow: hidden;
    text-align: center;
}

header .logo {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header .logo h1 {
    color: rgb(192, 83, 6);
    font-size: 150px;
    font-family: san-serif;
    text-align: center;
    padding-right: 150px;
}

h1 {
    font-size: 100%;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

p {
    font-size: 14xp;
}


/*BUTTONS 01*/

.btn_nav01 {
    background-color: white;
    position: relative;
    background: orangered;
    border: none;
    color: white;
    padding: 15px 24px;
    padding-inline: 50px;
    font-size: 1.4rem;
    box-shadow: -6px 6px 0 hsl(16, 100%, 30%);
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

}

.btn_nav01:hover {
    background: hsl(16, 100%, 45%);
    opacity: 0.8;
}

.btn_nav01:active {
    background: hsl(16, 100%, 40%);
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 hsl(16, 100%, 30%);
}

.btn_nav01::before {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;

    border: solid 6px transparent;
    border-right: solid 6px hsl(16, 100%, 30%);
    border-left-width: 0;
    background: none;
    top: 0;
    left: -6px;
}

.btn_nav01::after {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;

    border: solid 6px transparent;
    border-top: solid 6px hsl(16, 100%, 30%);
    border-bottom-width: 0;
    right: 0;
    bottom: -6px;
}

.btn_nav01:active::before {
    border: solid 3px transparent;
    border-right: solid 3px hsl(16, 100%, 30%);
    border-left-width: 0;
    left: -3px;
}

.btn_nav01:active::after {
    border: solid 3px transparent;
    border-top: solid 3px hsl(16, 100%, 30%);
    border-bottom-width: 0;
    bottom: -3px;
}

/*BUTTON 02*/

.btn_nav02 {
    position: relative;
    background: orangered;
    border: none;
    color: white;
    padding: 15px 24px;
    padding-inline: 50px;
    font-size: 1.4rem;
    box-shadow: -6px 6px 0 hsl(16, 100%, 30%);
    outline: none;
}

.btn_nav02:hover {
    background: hsl(16, 100%, 45%);
    opacity: 0.8;
}

.btn_nav02:active {
    background: hsl(16, 100%, 40%);
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 hsl(16, 100%, 30%);
}

.btn_nav02::before {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;

    border: solid 6px transparent;
    border-right: solid 6px hsl(16, 100%, 30%);
    border-left-width: 0;
    background: none;
    top: 0;
    left: -6px;
}

.btn_nav02::after {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;

    border: solid 6px transparent;
    border-top: solid 6px hsl(16, 100%, 30%);
    border-bottom-width: 0;
    right: 0;
    bottom: -6px;
}

.btn_nav02:active::before {
    border: solid 3px transparent;
    border-right: solid 3px hsl(16, 100%, 30%);
    border-left-width: 0;
    left: -3px;
}

.btn_nav02:active::after {
    border: solid 3px transparent;
    border-top: solid 3px hsl(16, 100%, 30%);
    border-bottom-width: 0;
    bottom: -3px;
}


/*BUTTON 03*/

.btn_nav03 {
    position: relative;
    background: orangered;
    border: none;
    color: white;
    padding: 15px 24px;
    font-size: 1.4rem;
    box-shadow: -6px 6px 0 hsl(16, 100%, 30%);
    outline: none;
}

.btn_nav03:hover {
    background: hsl(16, 100%, 45%);
    opacity: 0.8;
}

.btn_nav03:active {
    background: hsl(16, 100%, 40%);
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 hsl(16, 100%, 30%);
}

.btn_nav03::before {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;

    border: solid 6px transparent;
    border-right: solid 6px hsl(16, 100%, 30%);
    border-left-width: 0;
    background: none;
    top: 0;
    left: -6px;
}

.btn_nav03::after {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;

    border: solid 6px transparent;
    border-top: solid 6px hsl(16, 100%, 30%);
    border-bottom-width: 0;
    right: 0;
    bottom: -6px;
}

.btn_nav03:active::before {
    border: solid 3px transparent;
    border-right: solid 3px hsl(16, 100%, 30%);
    border-left-width: 0;
    left: -3px;
}

.btn_nav03:active::after {
    border: solid 3px transparent;
    border-top: solid 3px hsl(16, 100%, 30%);
    border-bottom-width: 0;
    bottom: -3px;
}


/*BUTTON 02*/

.btn_nav04 {
    position: relative;
    background: orangered;
    border: none;
    color: white;
    padding: 15px 24px;
    font-size: 1.4rem;
    box-shadow: -6px 6px 0 hsl(16, 100%, 30%);
    outline: none;
}

.btn_nav04:hover {
    background: hsl(16, 100%, 45%);
    opacity: 0.8;
}

.btn_nav04:active {
    background: hsl(16, 100%, 40%);
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 hsl(16, 100%, 30%);
}

.btn_nav04::before {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;

    border: solid 6px transparent;
    border-right: solid 6px hsl(16, 100%, 30%);
    border-left-width: 0;
    background: none;
    top: 0;
    left: -6px;
}

.btn_nav04::after {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;

    border: solid 6px transparent;
    border-top: solid 6px hsl(16, 100%, 30%);
    border-bottom-width: 0;
    right: 0;
    bottom: -6px;
}

.btn_nav04:active::before {
    border: solid 3px transparent;
    border-right: solid 3px hsl(16, 100%, 30%);
    border-left-width: 0;
    left: -3px;
}

.btn_nav04:active::after {
    border: solid 3px transparent;
    border-top: solid 3px hsl(16, 100%, 30%);
    border-bottom-width: 0;
    bottom: -3px;
}

.image-backGround {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: burlywood;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(185, 100, 100, 0.4)),
        url("/images//fast-food-restaurant.jpg") no-repeat;
    background-position: top;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
}