* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    overflow-y: scroll;
    font-family: arial, Helvetica, sans-serif;
    background-color: rgb(163, 120, 120);
}

main {
    height: 800px;
    display: flex;
    gap: 50px;
}

h1 {
    font-size: 100%;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

p {
    font-size: 14xp;
}

a {
    text-decoration: none;
}

/* BUTTONS NAVs*/

.btn_nav {
    width: 150px;
    background-color: white;
    position: relative;
    background: rgb(156, 116, 13);
    border: none;
    color: white;
    padding: 15px 24px;
    padding-inline: 60px;
    font-size: 1.4rem;
    font-weight: bolder;
    box-shadow: -6px 6px 0 hsl(16, 100%, 30%);
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn_nav:hover {
    background: hsl(16, 100%, 45%);
    opacity: 0.8;
}

.btn_nav:active {
    background: hsl(16, 100%, 40%);
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 hsl(16, 100%, 30%);
}

.btn_nav::before {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;

    border: solid 6px transparent;
    border-right: solid 6px hsl(16, 100%, 30%);
    border-left-width: 0;
    background: none;
    top: 0;
    left: -6px;
}

.btn_nav::after {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;

    border: solid 6px transparent;
    border-top: solid 6px hsl(16, 100%, 30%);
    border-bottom-width: 0;
    right: 0;
    bottom: -6px;
}

.btn_nav:active::after {
    border: solid 3px transparent;
    border-right: solid 3px hsl(16, 100%, 30%);
    border-left-width: 0;
    left: -3px;
}

.btn_nav:active::after {
    border: solid 3px transparent;
    border-top: solid 3px hsl(16, 100%, 30%);
    border-bottom-width: 0;
    bottom: -3px;
}

.image-backGround {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), no-repeat;
    background-size: cover;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: burlywood;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(185, 100, 100, 0.4)),
        url("/images//fast-food-restaurant.jpg") no-repeat;
    background-position: top;
    background-size: cover;
    display: grid;
    gap: 50px;
    padding-left: 5px;
}

.header {
    align-items: center;
    display: grid;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 250px;
    color: azure;

    overflow: hidden;
    text-align: center;
}

.header .logo {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header .logo h1 {
    color: rgb(192, 83, 6);
    font-size: 100px;
    font-family: san-serif;
    text-align: center;
    padding-right: 10px;
}

.header .menubar {
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.content {
    border: solid black;
    width: 850px;
    display: none;
}

.form-container {
    align-items: center;
    padding-left: 200px;
    float: left;
    color:rgb(248, 248, 124);
    justify-content: space-around;
    font-size: x-large;
    display: grid;

}

.form01 {
    display: grid;
    gap: 20px;
}

.form02 {
    display: grid;
    gap: 200px;
}

.btn {
    background-color: hsl(16, 100%, 45%);
    position: relative;
    border: none;
    color: white;
    padding: 12px 24px;
    padding-inline: 300px;
    font-size: 1.4rem;
    font-weight: bolder;
    outline: none;
    cursor: pointer;
}

.label {
    align-items: center;
    text-align: center;
}

.input-box {
    align-items: center;
    padding: 5px;
    align-items: center;
}
