* {
     margin: 0;
     padding: 0;
 }

 body {
     overflow: hidden;
     overflow-y: scroll;
     font-family: arial, Helvetica, sans-serif;
     background-color: rgb(163, 120, 120);
 }

 main{
    height: 800px;
    display: flex;
    gap: 50px;

 }

  h1 {
     font-size: 100%;
     margin: 0;
     padding: 0;
     padding-top: 10px;
 }

 h2 {
     font-size: 28px;
 }

 h3 {
     font-size: 24px;
 }

 h4 {
     font-size: 22px;
 }

 h5 {
     font-size: 18px;
 }

 p {
     font-size: 14xp;
 }

 a {
    text-decoration: none;
 }
/*BUTTONS NAVs*/

.btn_nav {
    width: 150px;
    background-color: white;
    position: relative;
    background: rgb(156, 116, 13);
    border: none;
    color: white;
    padding: 15px 24px;
    padding-inline: 60px;
    font-size: 1.4rem;
    font-weight:bolder ;
    box-shadow: -6px 6px 0 hsl(16, 100%, 30%);
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn_nav:hover {
    background: hsl(16, 100%, 45%);
    opacity: 0.8;
}

.btn_nav:active {
    background: hsl(16, 100%, 40%);
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 hsl(16, 100%, 30%);
}

.btn_nav::before {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;

    border: solid 6px transparent;
    border-right: solid 6px hsl(16, 100%, 30%);
    border-left-width: 0;
    background: none;
    top: 0;
    left: -6px;
}

.btn_nav::after {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;

    border: solid 6px transparent;
    border-top: solid 6px hsl(16, 100%, 30%);
    border-bottom-width: 0;
    right: 0;
    bottom: -6px;
}

.btn_nav:active::before {
    border: solid 3px transparent;
    border-right: solid 3px hsl(16, 100%, 30%);
    border-left-width: 0;
    left: -3px;
}

.btn_nav:active::after {
    border: solid 3px transparent;
    border-top: solid 3px hsl(16, 100%, 30%);
    border-bottom-width: 0;
    bottom: -3px;
}

.image-backGround {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), no-repeat;
    background-size: cover;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: burlywood;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(185, 100, 100, 0.4)),
        url("/images//fast-food-restaurant.jpg") no-repeat;
    background-position: top;
    background-size: cover;
    display: grid;
    gap: 50px;
    padding-left: 5px;
}

.header {
    align-items: center;
    display: grid;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 250px;
    color: azure;    
    
    overflow: hidden;
    text-align: center;
}

.header .logo {
   text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header .logo h1 {
    color: rgb(192, 83, 6);
    font-size: 100px;
    font-family: san-serif;
    text-align: center;
    padding-right: 150px;
}

.header .menubar{
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.menu-list{
    display: grid;
    justify-content: center;
    gap: 20px;
    padding: 0 0 0 20px;
    width: 350px;
    height: 600px;
    
}

.menu-list a{
    background-color: burlywood;
    width: 300px;
    font-size:40px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(107, 29, 29);
    border: none;
    border-radius: 50px;
    padding-inline: 50px;
    font-size: 2.5rem;
    cursor: pointer;
    box-shadow: -6px 6px 0 hsl(16, 94%, 50%);
    outline: none;
    transition: background-color 0.3s, color 0.4s;
}

.menu-list:hover {
    background-color: sl(16, 100%, 45%);
    opacity: 0.8;
}

.menu-list:active {
    background: hsl(16, 100%, 40%);
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 hsl(16, 100%, 30%);
}

.menu-list::before {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;

    border: solid 6px transparent;
    border-right: solid 6px hsl(16, 100%, 30%);
    background: none;
    top: 0;
    left: -6px;
}

.menu-list::after {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    display: block;

    border: solid 6px transparent;
    border-top: solid 6px hsl(16, 100%, 30%);
    border-bottom-width: 0;
    right: 0;
    bottom: -6px;
}

.menu-list:active::before {
    border: solid 3px transparent;
    border-right: solid 3px hsl(16, 100%, 30%);
    border-left-width: 0;
    left: -3px;
}

.menu-list:active::after {
    border: solid 3px transparent;
    border-top: solid 3px hsl(16, 100%, 30%);
    border-bottom-width: 0;
    bottom: -3px;
}

.content{
    border: solid black;
    width: 850px;
    display: none;
}