* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    overflow-y: scroll;
    font-family: arial, Helvetica, sans-serif;
    background-color: rgb(163, 120, 120);
}

main {
    height: 800px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 20px;
}

h1 {
    font-size: 100%;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

p {
    font-size: 14xp;
}

a {
    text-decoration: none;
}

/* BUTTONS NAVs*/

.btn_nav {
    width: 150px;
    background-color: white;
    position: relative;
    background: rgb(156, 116, 13);
    border: none;
    color: white;
    padding: 15px 24px;
    padding-inline: 60px;
    font-size: 1.4rem;
    font-weight: bolder;
    box-shadow: -6px 6px 0 hsl(16, 100%, 30%);
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

    .btn_nav:hover {
        background: hsl(16, 100%, 45%);
        opacity: 0.8;
    }

    .btn_nav:active {
        background: hsl(16, 100%, 40%);
        top: 3px;
        left: -3px;
        box-shadow: -3px 3px 0 hsl(16, 100%, 30%);
    }

    .btn_nav::before{
        position: absolute;
        display: block;
        content: "";
        height: 0;
        width: 0;

        border: solid 6px transparent;
        border-right: solid 6px hsl(16, 100%, 30%);
        border-left-width:0;
        background: none;
        top: 0;
        left: -6px;
    }

    .btn_nav::after {
        position: absolute;
        display: block;
        content: "";
        height: 0;
        width: 0;

        border: solid 6px transparent;
        border-top: solid 6px hsl(16, 100%, 30%);
        border-bottom-width: 0;
        right: 0;
        bottom: -6px;
    }

    .btn_nav:active::after {
        border: solid 3px transparent;
        border-right: solid 3px hsl(16, 100%, 30%);
        border-left-width: 0;
        left: -3px;
    }

    .btn_nav:active::after {
        border: solid 3px transparent;
        border-top: solid 3px hsl(16, 100%, 30%);
        border-bottom-width: 0;
        bottom: -3px;
    }

.image-backGround {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), no-repeat;
    background-size: cover;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: burlywood;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(185, 100, 100, 0.4)),
        url("/images//fast-food-restaurant.jpg") no-repeat;
    background-position: top;
    background-size: cover;
    display: grid;
    gap: 50px;
    padding-left: 5px;
}

.header {
    align-items: center;
    display: grid;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 250px;
    color: azure;

    overflow: hidden;
    text-align: center;
}

.header .logo {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header .logo h1 {
    color: rgb(192, 83, 6);
    font-size: 100px;
    font-family: san-serif;
    text-align: center;
    padding-right: 10px;
}

.header .menubar {
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.content {
    border: solid black;
    width: 850px;
    display: none;
}

main .product-card {
    background-color: white;
    height: 450px;
    box-shadow: black 0 3px 3px 0;
    border-radius: 10px;
}

main .product-card .product-card-head-01 {
    background-color: burlywood;
    height: 70%;
    background: url(/images/pork-ribs.jpg) no-repeat;
    background-size: cover;
}

main .product-card .product-card-head-02 {
    background-color: burlywood;
    height: 70%;
    background: url(/images/beef0.jpg) no-repeat;
    background-size: cover;
}

main .product-card .product-card-head-03 {
    background-color: burlywood;
    height: 70%;
    background: url(/images/lamb.jpg) no-repeat;
    background-size: cover;
}

main .product-card .product-card-head-04 {
background-color: burlywood;
    height: 70%;
    background: url(/images/breakfast.jpg) no-repeat;
    background-size: cover;
}

main .product-card .product-card-head-05 {
    background-color: burlywood;
    height: 70%;
    background: url(/images/BURGERS/burger03.jpg) no-repeat;
    background-size: cover;
}

main .product-card .product-card-head-06 {
    background-color: burlywood;
    height: 70%;
    background: url(/images/SEA-FOOD/sea-food07.jpg) no-repeat;
    background-size: cover;
}

main .product-card .product-card-head-07 {
    background-color: burlywood;
    height: 70%;
    background: url(/images/P.P.T/tacos00.jpg) no-repeat;
    background-size: cover;
}

main .product-card .product-card-head-08 {
    background-color: burlywood;
    height: 70%;
    background: url(/images/chicken01.jpg) no-repeat;
    background-size: cover;
}

main .product-card .product-card-head-09 {
    background-color: burlywood;
    height: 70%;
    background: url(/images/P.P.T/pizza08.jpeg) no-repeat;
    background-size: cover;
}

main .product-card .product-card-head-10 {
    background-color: burlywood;
    height: 70%;
    background: url(/images//BURGERS/burger-kids.jpg) no-repeat;
    background-size: cover;
}

main .product-card .product-card-head-11 {
    background-color: burlywood;
    height: 70%;
    background: url(/images/meat-platter01.jpg) no-repeat;
    background-size: cover;
}

main .product-card .product-card-head-12 {
    background-color: burlywood;
    height: 70%;
    background: url(/images/fruit-platter01.jpg) no-repeat;
    background-size: cover;
}

main .product-card .product-card-head-13 {
    background-color: burlywood;
    height: 70%;
    background: url(/images//buffet06.jpg) no-repeat;
    background-size: cover;
}

main .product-card .product-card-head-14 {
    background-color: burlywood;
    height: 70%;
    background: url(/images//buffet01.jpg ) no-repeat;
    background-size: cover;
}

main .product-card .product-card-head-15 {
    background-color: burlywood;
    height: 70%;
    background: url(/images//buffet00.jpg) no-repeat;
    background-size: cover;
}

main .product-card .product-card-head-16 {
    background-color: burlywood;
    height: 70%;
    background: url(/images//salads.jpeg) no-repeat;
    background-size: cover;
}

main .product-card .product-card-head-17 {
    background-color: burlywood;
    height: 70%;
    background: url(/images//DESERTS/shakshuk00.jpeg) no-repeat;
    background-size: cover;
}

main .product-card .product-card-head-18 {
    background-color: burlywood;
    height: 70%;
    background: url(/images//DESERTS/rosanne.jpeg) no-repeat;
    background-size: cover;
}

main .product-card .product-card-head-19 {
    background-color: burlywood;
    height: 70%;
    background: url(/images//DESERTS/cake08.jpg) no-repeat;
    background-size: cover;
}

main .product-card .product-card-head-20 {
    background-color: burlywood;
    height: 70%;
    background: url(/images//DESERTS/ice-cake.jpg) no-repeat;
    background-size: cover;
}

main .product-card .product-card-head-21 {
    background-color: burlywood;
    height: 70%;
    background: url(/images//DESERTS/delux.jpg) no-repeat;
    background-size: cover;
}

main .product-card .product-card-head-22 {
  background-color: burlywood;
  height: 70%;
  background: url(/images//DESERTS/delux000.jpg) no-repeat;
  background-size: cover;
}

main .product-card .product-card-head-23 {
  background-color: burlywood;
  height: 70%;
  background: url(/images//DESERTS/flat-cake00.jpg) no-repeat;
  background-size: cover;
}

main .product-card .product-card-head-24 {
  background-color: burlywood;
  height: 70%;
  background: url(/images//DESERTS/delux01.jpg) no-repeat;
  background-size: cover;
}

main .product-card .product-card-head-25 {
  background-color: burlywood;
  height: 70%;
  background: url(/images//\ BEVERAGES/kiwi-juice.jpeg) no-repeat;
  background-size: cover;
}

main .product-card .product-card-head-26 {
  background-color: burlywood;
  height: 70%;
  background: url(/images//\ BEVERAGES/cold.jpeg) no-repeat;
  background-size: cover;
}

main .product-card .product-card-head-27 {
  background-color: burlywood;
  height: 70%;
  background: url(/images//\ BEVERAGES/coffee00.jpg) no-repeat;
  background-size: cover;
}

main .product-card .product-card-head-28 {
  background-color: burlywood;
  height: 70%;
  background: url(/images//\ BEVERAGES/rooibos.jpeg) no-repeat;
  background-size: cover;
}

main .product-card .product-card-head-29 {
  background-color: burlywood;
  height: 70%;
  background: url(/images//\ BEVERAGES/amarula.jpeg) no-repeat;
  background-size: cover;
}

main .product-card .product-card-head-30 {
  background-color: burlywood;
  height: 70%;
  background: url(/images//\ BEVERAGES/marula-cream.jpg) no-repeat;
  background-size: cover;
}

main .product-card .product-card-head-31 {
  background-color: burlywood;
  height: 70%;
  background: url(/images//\ BEVERAGES/tropical.jpeg) no-repeat;
  background-size: cover;
}

main .product-card .product-card-head-32 {
  background-color: burlywood;
  height: 70%;
  background: url(/images//\ BEVERAGES/wine01.jpg) no-repeat;
  background-size: cover;
}

main .product-card .product-card-body {
    padding: 10px; 
    display: grid;
    gap: 10px; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

main .product-card .product-card-body p {
    font-weight: bold;
    font-size: 20px;
}

.button {
    padding: 10px;
    background-color: rgb(156, 116, 13);
    color: white;
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
    transition: all;
    animation: ease-in-out;
    animation-duration: 5000ms;
    
}

.button:hover {
    background: hsl(16, 100%, 45%);
    opacity: 0.6;
}